{% extends "layout.html" %}
{% block content %}
<div class="container">
<div class="row">
    {% if a %}
    <div class="col c6">
    <div class="card">
        <div class="items"><div class="btn badge sm blue">{{a[9]}}</div></div>
		<h1>Applicant #{{a[0]}}</h1><br>
        {% if a[4] %}
        <h3>Short talk abstract</h3>
        <p style="font-weight: bold">{{a[1]}}</p>
        <p>{{a[2]}}</p>
        <p>{{a[3]}}</p>
        <p>{{a[4]}}</p>
        {% endif %}{% if a[8] %}
        <h3>Poster abstract</h3>
        <p style="font-weight: bold">{{a[5]}}</p>
        <p>{{a[6]}}</p>
        <p>{{a[7]}}</p>
        <p>{{a[8]}}</p>
        {% endif %}
    </div>
    </div>
    <div class="col c6">
    <div class="card">
        <h1>Your review</h1><br>
        <form method=post action="/abstracts">
            {{ form.hidden_tag() }}
            {{ render_field(form.abstract) }}
            {{ render_field(form.english) }}
            <input type=submit value="Submit review" class="btn blue">
        </form>
    </div></div>
    {% else %}
    <div class="col c12">
    <div class="card small">
        <h1>You have reviewed all abstracts!</h1><br>
        <h3>That's awesome!</h3>
    </div></div>
    {% endif %}</div>
    <div class="row"><div class="col c12">
    <div class="card" style="padding: 1em 3em">
    <h1>Evaluation criteria</h1>
    <h2>A quick reminder...</h3><br>
    <h3>Abstract</h3>
    <h2>The points are given for the better of the two abstracts.</h2>
    <p>The abstract is evaluated by series of binary requirements. The final
    punctuation is the number of met requirements. For instance if the abstract
    meets 3 requirements it gets 3 points.</p>

    <h2>Requirements:</h2>
    <ul>
    <li>Relevance: The abstract is relevant to Systems Biology or Systems Medicine.</li>
    <li>Structure: The abstract is well-structured and clearly defines the problem,
    the applied solution and its importance.</li>
    <li>Results/completeness: The project provides significant scientific results
    (in contrast to only providing a new method or a perspective) and therefore
    appears complete.</li>
    <li>Creativity and Novelty: The stated problem was solved in a creative and
    novel manner which could not have been achieved by standard or trivial methods.</li>
    </ul>

    <h3>English language profiency</h3>
    <p>0 points are awarded for applicants that do not seem to speak english (for
instance if they fill out the registration in spanish).  1 point is awarded for
average proficiency (can probably communicate in English but might not be
completely fluent). 2 points are awarded for apparently fluent english (either
determined by the abstract or a detailed Research Topic description). Short
talks require 2 points and posters 1 point.</p>

</div></div></div>
{% endblock %}
