{% extends "layout.html" %}
{% block content %}
<div class="container">
<div class="row">
    {% if p %}
    <div class="col c6">
    <div class="card">
        <div class="items"><div class="btn badge sm blue">{{p[9]}}</div></div>
		<h1>Applicant #{{p[0]}}</h1>
        <h2>born {{p[7]}}</h2><br>
        <h3>Afilliation</h3>
        <p>{{p[1]}}<br>{{p[2]}}</p>
        <h3>Location</h3>
        <p>{{p[3]}}<br>{{p[4]}}</p>
        <h3>Degree &amp; position</h3>
        <p>{{p[5]}}<br>{{p[6]}}</p>
        <h3>Research Topic</h3>
        <p>{{p[8]}}</p>
    </div>
    </div>
    <div class="col c6">
    <div class="card">
        <h1>Your review</h1><br>
        <form method=post action="/applicants">
            {{ form.hidden_tag() }}
            {{ render_field(form.pos) }}
            {{ render_field(form.inst) }}
            {{ render_field(form.dist) }}
            {{ render_field(form.topic) }}
            <input type=submit value="Submit review" class="btn blue">
        </form>
    </div></div>
    {% else %}
    <div class="col c12">
    <div class="card small">
        <h1>You have reviewed all applicants!</h1><br>
        <h3>That's awesome!</h3>
    </div></div>
    {% endif %}</div>
{% endblock %}
